<!doctype html>
<html lang="en">

<head>

    <title>Demands Management</title>

    {% load static %}
    <link href='{% static "/css/styles.css" %}' rel='stylesheet' />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css' rel='stylesheet' />


    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a href="{% url 'home' %}"><img class="navbar-brand" src='{% static "/images/logo.png" %}' style="height: 70px;"></img>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'irrigation' %}">Green Spaces Irrigation System<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'demands' %}">Demands Management<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'green_spaces' %}">Green Spaces Management<span class="sr-only"></span></a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="" class="nav-link"> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <form method="get" style="display: None;">
        <input type="text" name="id" id="">
        <input type="text" name="op" id="">
    </form>
    <div class="container mt-4">
        <h1>
            Demands Management :
        </h1>


        <table class="table table-striped" style="position: relative; top : 40px">
            <thead>
                <tr style="width: 90%;">
                    <th style="width: 2px; padding: 0;"></th>
                    <th>Username</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Day</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {%for demande in demandes%}
                <tr>
                    <td id="status{{demande.id}}" style="background-color: #c3e628; width: 2px; padding: 0;"></td>
                    <script>
                        var elem = document.getElementById('status{{demande.id}}');
                        if ({{demande.status}} == 2){
                            elem.style.backgroundColor = "#EFB700";
                        }
                        if ({{demande.status}} == 0){
                            elem.style.backgroundColor = "#B81D13";
                        }
                        if ({{demande.status}} == 1){
                            elem.style.backgroundColor = "#008450";
                        }
                    </script>
                    <td>{{demande.username}}</td>
                    <td>{{demande.type_demande}}</td>
                    <td style="max-width: 300px;">{{demande.description}}</td>
                    <td>{{demande.jour}}</td>
                    <td>{{demande.adresse}}</td>
                    <td>
                        <a class="btn btn-success" style="color: #fff;font: size 1.2em;" href="{% url 'demands' %}?id={{demande.id}}&op=1">Approver</a>
                        <a class="btn btn-danger" style="color: #fff;font: size 1.2em;" href="{% url 'demands' %}?id={{demande.id}}&op=0">Supprimer</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
</body>