<!doctype html>
<html lang="en">

<head>

    <title>Demands Management</title>

    {% load static %}
    <link href='{% static "/css/style.css" %}' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="header">
        <div class="logo_emp">
            <img src="{% static 'images/logo.png'%}" class="logo">
        </div>
        <div class="nav_list_emp">
            <ul class="nav_list">
                <li class="nav_list_item">
                    <a class="link" href="{% url 'home' %}">
                        <h2 class="nav_text">
                            Accueil
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'about' %}">
                        <h2 class="nav_text">
                            Presentation
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'carte' %}">
                        <h2 class="nav_text">
                            Carte
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'about' %}">
                        <h2 class="nav_text">
                            Qui sommes nous?
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="login_emp">
            
                <div class="nav_list_item login_btn">
                    <a class="link" href="{% url 'login' %}">
                        <h2 class="nav_text">
                            {%if logged == None%}
                            Se connecter
                            {%endif%}
                            {%if logged != None%}
                            {{mail}}
                            {%endif%}
                        </h2>
                    </a>
                </div>
        </div>
    </div>

    <form method="get" style="display: None;">
        <input type="text" name="id" id="">
        <input type="text" name="op" id="">
    </form>
    <div class="main_view_demands">
        <h2 class="main_view_title" style="padding-left: 2rem;">
            Demandes
        </h2>

        <div class="center">
        <table class="table fl-table">
            <thead>
                <tr class="table_header">
                    <th style="width: .5%;"></th>
                    <th style="width: 15%;"><h2 class="table_head_text">Username</h2></th>
                    <th style="width: 9.5%;"><h2 class="table_head_text">Type</h2></th>
                    <th style="width: 30%;"><h2 class="table_head_text">Description</h2></th>
                    <th style="width: 15%;"><h2 class="table_head_text">Jour</h2></th>
                    <th style="width: 15%;"><h2 class="table_head_text">Adresse</h2></th>
                    <th style="width: 15%;"><h2 class="table_head_text">Action</h2></th>
                </tr>
            </thead>
            <tbody>
                {%for demande in demandes%}
                <tr>
                    <td id="status{{demande.id}}" style="background-color: #c3e628; width: .5%;"></td>
                    <script>
                        var elem = document.getElementById('status{{demande.id}}');
                        if ({{demande.status}} == 2){
                            elem.style.backgroundColor = "#EFB700";
                        }
                        if ({{demande.status}} == 0){
                            elem.style.backgroundColor = "#B81D13";
                        }
                        if ({{demande.status}} == 1){
                            elem.style.backgroundColor = "#008450";
                        }
                    </script>
                    <td style="width: 15%;"><h2 class="table_row_text">{{demande.username}}</h2></td>
                    <td style="width: 9.5%;"><h2 class="table_row_text">{{demande.type_demande}}</h2></td>
                    <td style="max-width: 300px; width: 30%;"><h2 class="table_row_text">{{demande.description}}</h2></td>
                    <td style="width: 15%;"><h2 class="table_row_text">{{demande.jour}}</h2></td>
                    <td style="width: 15%;"><h2 class="table_row_text">{{demande.adresse}}</h2></td>
                    <td style="width: 15%;">
                        <div class="actions" style="width: 100%;display: flex;justify-content: center;align-items:center;">
                        <a class="button-green" style="font: size 1.2em;" href="{% url 'demands' %}?id={{demande.id}}&op=1"><h2 class="table_row_text">Accepter</h2></a>
                        <a class="button-red" style="font: size 1.2em;" href="{% url 'demands' %}?id={{demande.id}}&op=0"><h2 class="table_row_text">Supprimer</h2></a>
                        </div>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
    </div>
</body>