<!doctype html>
<html lang="en">

<head>

    <title>Green Spaces Management</title>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>Espaces verts</title>    
</head>

<body>
    <div class="header">
        <div class="logo_emp">
            <img src="{% static 'images/logo.png'%}" class="logo">
        </div>
        <div class="nav_list_emp">
            <ul class="nav_list">
                <li class="nav_list_item">
                    <a class="link" href="{% url 'home' %}">
                        <h2 class="nav_text">
                            Accueil
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="#">
                        <h2 class="nav_text">
                            Presentation
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'carte' %}">
                        <h2 class="nav_text">
                            Carte
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="#">
                        <h2 class="nav_text">
                            Qui sommes nous?
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="login_emp">
            
                <div class="nav_list_item login_btn">
                    <a class="link" href="{% url 'login' %}">
                        <h2 class="nav_text">
                            Se connecter
                        </h2>
                    </a>
                </div>
        </div>
    </div>
    <div class="main_view2">
        <h2 class="main_view_title" style="margin: 2rem 2rem 0 2rem;">
            Les Plantes
        </h2> 
        <div class="center">
            <table class="table fl-table">
                <thead>
                    <tr class="table_header">
                        <th style="width: .5%;"></th>
                        <th style="width: 39.5%;"><h2 class="table_head_text">Nom</h2></th>
                        <th style="width: 30%;"><h2 class="table_head_text">Derniere irrigation</h2></th>
                        <th style="width: 30%;"><h2 class="table_head_text">Actions</h2></th>
                    </tr>
                </thead>
                <tbody>
                    {%for zone in zones_list%}
                    <tr>
                        <td id="status{{zone.id}}" style="background-color: #c3e628; width: .5%;"></td>
                        <script>
                            var elem = document.getElementById('status{{zone.id}}');
                            if (({{zone.pr}}-{{zone.temps}})/{{zone.temps}} >= 0.7 ){
                                elem.style.backgroundColor = "#008450";
                            }
                            if (({{zone.pr}}-{{zone.temps}})/{{zone.temps}} <0.7){
                                elem.style.backgroundColor = "#EFB700";
                            }
                            if (({{zone.pr}}-{{zone.temps}})/{{zone.temps}} <= 0.1){
                                elem.style.backgroundColor = "#B81D13";
                            }
                        </script>
                        <td style="width: 39.5%;"><h2 class="table_row_text">{{zone.nom}}</h2></td>
                        <td style="width: 30%;"><h2 class="table_row_text">{{zone.der}}</h2></td>
                        <td style="width: 30%;"><h2 class="table_row_text"></h2>
                            <div class="actions" style="width: 100%;display: flex;justify-content: center;align-items:center;">
                            <a class="button-green modalwin" style="font-size: 1.2em;" href="#"><h2 class="table_row_text">Envoyer une mission</h2></a>
                            </div>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        </div>
</body>