<!doctype html>
<html lang="en">

<head>

    <title>Plants List</title>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">


</head>

<body>
    <div class="header">
        <div class="logo_emp">
            <img src="{% static 'images/logo.png'%}" class="logo">
        </div>
        <div class="nav_list_emp">
            <ul class="nav_list">
                <li class="nav_list_item">
                    <a class="link" href="{% url 'home' %}">
                        <h2 class="nav_text">
                            Accueil
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'about' %}">
                        <h2 class="nav_text">
                            Presentation
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'carte' %}">
                        <h2 class="nav_text">
                            Carte
                        </h2>
                    </a>
                </li>
                <li class="nav_list_item">
                    <a class="link" href="{% url 'about' %}">
                        <h2 class="nav_text">
                            Qui sommes nous?
                        </h2>
                    </a>
                </li>
            </ul>
        </div>
        <div class="login_emp">
            
                <div class="nav_list_item login_btn">
                    <a class="link" href="{% url 'login' %}">
                        <h2 class="nav_text">
                            {%if logged == None%}
                            Se connecter
                            {%endif%}
                            {%if logged != None%}
                            {{mail}}
                            {%endif%}
                        </h2>
                    </a>
                </div>
        </div>
    </div>
    <div class="main_view2">
        <h2 class="main_view_title" style="margin: 2rem 2rem 1rem 2rem;">
            Ajouter des plantes
        </h2>
        <div class="center">
        <form action="" method="POST" style="width: 60%;">
            {%csrf_token%}
            <div class="row_form" style="width: 60%;">
                <h2 class="label">Zone</h2>
                <div style="display:flex;align-items:center;">
                <select name="zone" style="height: 2rem;border: 0;border-bottom:1px solid #3a4c5a;padding: 7px 0;width: 10.8rem;">
                    {% for i in zones%}
                    <option value="{{i.id}}">{{i.nom}}</option>
                    {% endfor %}
                    </select>
                    <a href="{% url "green_spaces_add" %}" style="display:flex;align-items:center;"><img src="{% static 'images/add-svgrepo-com.svg'%}" style="width:1.2rem;height:auto;"></a>
                </div>
                </div> 
            <div class="row_form" style="width: 60%;">
                <h2 class="label">Plante</h2>
                <div style="display:flex;align-items:center;">
                <select name="plante" style="height: 2rem;border: 0;border-bottom:1px solid #3a4c5a;padding: 7px 0;width: 10.8rem;">
                    {% for i in plantes%}
                    <option value="{{i.id}}">{{i.nom}}</option>
                    {% endfor %}
                    </select>
                    <a href="{% url "plante" %}" style="display:flex;align-items:center;"><img src="{% static 'images/add-svgrepo-com.svg'%}" style="width:1.2rem;height:auto;"></a>
                </div>
            </div>
            <div class="row_form" style="width: 60%;">
                <h2 class="label">Temps d'irrigation</h2>
                <input type="number" name="besoin">
            </div>
            <div class="center">
            <button style="margin-bottom: 40px;" type="submit" value="submit" class="btn btn-primary">Ajouter</button>
            </div>
        </form>
    </div>
    </div>
</body>